params {
   // Conda
   conda.enabled = true

   // Error  Handling
   errorStrategy    = 'ignore'

   // global parameters
   fastq_dir           = ""
   fastqc_threads      = 64
   interleave          = true
   metaSPAdes          = "spades.py --only-assembler --tmp-dir /dev/shm --meta"
   SPAdes              = "spades.py --only-assembler --tmp-dir /dev/shm --isolate"
   slurm_mem           = "1G"
   bbmap_java_mem      = "64G"
   reference_genome    = "/database/bbmap/human_CHM13/" // change this if you have a different reference genome
   outdir              = "${baseDir}/results/"
   project_id          = "dev_testing"
   projectID           = "dev_testing"
   samplesheet_csv     = "${baseDir}/samplesheet.csv"
   cpu                 = 64

   // Sample type 
   short_reads	       = true
   isolate             = false
   hybrid              = false
   metagenomic         = false
   longreads 	       = false
   map2reads           = false
   remove_host_seq_from_reads = true
   remove_common_flora = false
   
   // assembly parameters
   metaspades          = true
   dragonflye          = false
   dragonflye_isolate  = false
   unicycler           = false
  
   // software paths
   mmseqs_easylinclust = "mmseqs easy-linclust"
   mmseqs_easysearch   = "mmseqs easy-search"
   mmseqs_touchdb      = "mmseqs touchdb"
   mmseqs_cutoff       = 0.95
   //mmseqs_parameter  = "/dev/shm --min-seq-id $mmseqs_cutoff -c $mmseqs_cutoff --threads $num_CPU"
   //repeat_masker     = $bin_path2."RepeatMasker/RepeatMasker"
   blastn              = "export BLAST_USAGE_REPORT=false blastn"
   //diamond_args = $cfg->param('diamond_args')
   //diamond = "diamond blastx $diamond_args"
   bbduk = "bbduk.sh"
   samtools = "samtools"
   bamToFastq = "bamToFastq"
   cutadapt = "cutadapt"
   pear = "pear"
   seqtk = "seqtk"
   pigz = "pigz"
   reformat = "reformat.sh"
   metaSPAdes = "spades.py --only-assembler --tmp-dir /dev/shm --meta"
   SPAdes = "spades.py --only-assembler --tmp-dir /dev/shm --isolate"
   seqkit = "seqkit grep -v -f"
   dragonflye_opts = "dragonflye --force"
   minimap = "minimap2 -ax map-ont"


   // metadetector params
   // Decision Params 
    targeted	     = false // run all except metaviral assembly stages with targeted mapping filter, processes: 1,2,3b,4,5,6,7,9,10,12,13,14,17,18,19,22,23,25,26
    metaviral        = false // run for metaviral only assembly, processes: 1,2,3a,4,5,8,11,14,15,19,20,24,25,26
    long_read        = false
    all              = false // run all except metaviral assembly stages, processes: 1,2,3a,4,5,6,7,9,10,12,13,14,17,18,19,22,23,25,26
    isolate          = false // run for isolate only assembly, processes: 1,2,3a,4,5,7,10,13,14,18,19,23,25,26
    metagenome       = false // run for metagenomic only assembly, processes: 1,2,3a,4,5,6,9,12,14,17,19,22,25,26
    ///
    outdir           = "${baseDir}/results_test/"
    bbduk_args       = "ktrim=r k=23 mink=11 hdist=1 tbo tpe qtrim=rl trimq=30 maq=20 minlen=50 entropy=0.2 trimpolyg=10 trimpolya=10 ref=phix,adapters"
    host_db          =
    bbmap_args       = "k=13 usemodulo=f rebuild=f interleaved=auto fastareadlen=500 unpigz=f touppercase=t "
    memory           = 40
    bbmap_ref_contam = "/export/database/bbmap/silva_release132_oral_flora_rRNA"
    threads          = 64
    
    // Global config for MetaDetector
    md_partition="md"
    md_dbdir="/export/database"
    md_meganpath="/export/bin/megan/tools"
    md_diamond_args="--block-size 10 --iterate faster --index-chunks 1 --tmpdir /dev/shm"
    md_diamond_dbdir="/export/database/blastdb/nr/nr"
    md_docker_execdir="/export/metadetector/md_docker"
    md_datadir="/export/metadetector"
    md_docker_tmpdir="/dev/shm"
    md_docker_megandir="/export/bin/megan"
    md_docker_slurmconf="/export/slurm.conf"

    // global settings: possibly move to config file
    dbdir              = "/export/database" // database directory 
    meganpath          = "/export/bin/megan/tools" // path to MEGAN tools
    diamond_dbdir      = "/export/database/blastdb/nr/nr" // diamond database directory
    diamond_args       = "--block-size 2 --iterate faster --index-chunks 4 --tmpdir /export/tmp/" // memory args for diamond blastx
    megandb            = "/export/database/megan"
    bbmap_ref_db       = "/export/database/bbmap/human_CHM13/GCF_009914755.1_T2T-CHM13v2.0_genomic.fna.gz"
    host_db_human      = "/export/database/bbmap/human_CHM13/GCF_009914755.1_T2T-CHM13v2.0_genomic.fna.gz" 
    /*  host_db_contam = "${dbdir}/bbmap/fusedERPBBmasked2/fusedERPBBmasked2.fa.gz" */ 
    host_db_contam     = "/export/database/bbmap/silva_release132_oral_flora_rRNA/silva_release132_oral_flora_rRNA.fa"
    host_db_silva      = "/export/database/bbmap/silva_release132_oral_flora_rRNA/silva_release132_oral_flora_rRNA.fa"
    bbmap_ref_contam   = "/export/database/bbmap/silva_release132_oral_flora_rRNA/"
    bbmap_ref_silva    = "/export/database/bbmap/silva_release132_oral_flora_rRNA/"
    bbmap_ref_human    = "/export/database/bbmap/human_CHM13/"
    db_BN              = "/database/mmseqs/core_nt/core_nt"
}

profiles {
   standard {
       process.executor = 'local'
       process.memory   = '32 GB'
       process.cpus     =  8
   }

   cluster_big {
      process.executor  = 'slurm'
      process.queue     = 'normal'
      process.memory    = '500 GB'
      process.cpus      = 128
   }
   cluster_normal {
      process.executor  = 'slurm'
      process.queue     = 'normal'
      process.memory    = '128 GB'
      process.cpus      = 64
   }
   cluster_small {
      process.executor  = 'slurm'
      process.queue     = 'normal'
      process.memory    = '16 GB'
      process.cpus      = 4
   }
}
