/*
Params for QC processes
*/

params {
       // Error  Handling
   errorStrategy       = 'ignore'
   // Sample type 
   short_reads	       = true
   isolate             = false
   hybrid              = false
   metagenomic         = false
   longreads 	       = false
   hybrid              = false
}